.main_menu{
	padding-top: .2em;
	color: white;
	font-size: .9em;
}
.carousel-inner > .item > img {
    margin: 0 auto;
}
.productsHome img {
	margin: 0 auto;
	padding: 0;
}
	
.header	{
	position: fixed;
}

.Logo {
	text-align: center;
}

.backgFtr{
	background-color: yellow;
}

.title-li{
	font-size: 1.2em;	
	color: #666666;
}

.whtfont{
	color: white;
	text-align: center;
}

.listfoo{
	color: #808080;
}

.panel-footer ul{
	list-style-type: none;

}