.main_menu{
	padding-top: .2em;
	color: white;
	font-size: .9em;
}
.carousel-inner > .item > img {
    margin: 0 auto;
}
.productsHome img {
	margin: 0 auto;
	padding: 0;
}
	
.header	{
	position: fixed;
}

.nav {
	border-radius: 0px;
}

.Logo {
	text-align: center;
}

.fontwhite{
	color: white;
}

.backgproductos{
	background-color:#FAFAFA;
}

.backgfooter{
	background-color: #e6e6e6;
}

.title-li{
	font-size: 1.2em;	
	color: #666666;
}

.whtfont{
	color: white;
	text-align: center;
}

.listfoo{
	color: #808080;
}

.panel-footer ul{
	list-style-type: none;
}